/* Start Global Rules */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800 */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
/* End Global Rules */
/* Start Sidebar */
.sidebar {
width: 250px;
box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
    margin-bottom: 50px;
    position: sticky;
    top: 20px;
}
.sidebar > h3::before,
.sidebar > h3::after {
    content: "";
    background-color: black;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
.sidebar > h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}
.sidebar > h3::after {
    width: 12px;
    height: 12px;
    bottom: -29px;
    border-radius: 50%;
    border: 4px solid white;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.sidebar ul {
    position: sticky;
    top: 97px;
}
@media (max-width:767px) {
    .sidebar ul {
        position: sticky;
        top: 65px;
    }
}
.sidebar ul li a {
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    margin-bottom: 5px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}
.sidebar ul li a span{
    font-size: 14px;
    margin-left: 10px;
}
@media (max-width:767px) {
    .sidebar {
        width: 62px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .sidebar > h3::before, 
    .sidebar > h3::after {
        display: none;
    }
    .sidebar ul li a span {
        display: none;
    }
}
/* End Sidebar */
/* Start content */
.content {
overflow: hidden;
}
.head .search::before {
    content: '\f002';
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translatey(-50%);
    font-size: 14px;
    color: var(--gray-color);
}
.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width .3s;
}
.head .search input:focus {
width: 200px;
}
.head .search input:focus::placeholder {
    opacity: 0;
}
.head .icons .notification::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -5px;
}
.head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}
.page h1 {
    margin: 20px 20px 40px;
    cursor: default; 
    width: fit-content;
    display: block;
}
.page h1::before,
.page h1::after 
{
    content: '';
    height: 3px;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.page h1::before {
    background-color: white;
    width: 120px;
}
.page h1::after {
    content: '';
    background-color: black;
    width: 40px;
    transition: 1s ease-in;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
}
.page h1:hover::after {
    width: 120px;
} 
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px , 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
@media (max-width:767px) {
    .wrapper { 
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
/* End content */
/* Start Welcome Widget */
.welcome {
    overflow: hidden;
}
.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 3px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}
.welcome .body { 
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.welcome .body > div {
    flex: 1;
}
.welcome .visit {
    margin: 0 15px 15px auto;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.welcome .visit:hover {
    background-color: var(--blue-alt-color);
} 
@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
}
/* End Welcome Widget */
/* Start Quick Draft */
.quick-draft textarea {
resize: none;
min-height: 180px;
}
.quick-draft .save{
    margin-left: auto;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    cursor: pointer;
}
.quick-draft .save:hover{
    background-color: var(--blue-alt-color);
}
/* End Quick Draft */
/* Start Targets  */
.targets .target-row .icon {
    width: 90px;
    height: 80px;
    margin-right: 15px;

}
.targets .details {
    flex: 1;
}
.targets .details .progress {
    background-color: rgb(0 117 255 / 20%);
    height: 4px;
}
.targets .details .progress > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.targets .details .progress > span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    font-size: 12px;
}
.targets .details .progress > span span::after {
    content: '';
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    border-top-color: var(--blue-color);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
    border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
    border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
    border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
background-color: rgb(34 197 94 / 20%);
}
/* End Targets  */
/* Start Tickets */
.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}
@media (max-width:767px) {
    .tickets .box {
        width: 100%;
    } 
}
/* End Tickets */
/* Start Latest News */
.latest-news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.latest-news .news-row img {
    width: 100px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-right: 15px;
}
.latest-news .info {
    flex-grow: 1;
}
.latest-news .info h3 {
margin: 0 0 6px;
font-size: 16px;
}
@media (max-width:767px) {
    .latest-news .news-row {
        display: block;
    }
    .latest-news .news-row .label {
        margin: 10px auto;
        width: fit-content;
    }
}

/* End Latest News */
/* Start Tasks */
.tasks .task-row:not(:last-of-type) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.tasks .info {
    flex-grow: 1;
}
.tasks .done {
    opacity: .3;
}
.tasks .done h3,
.tasks .done p {
    text-decoration: line through;
}
.tasks .delete {
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.tasks .delete:hover {
    color: red;
    text-shadow: 0px 0px 5px red;
}
/* End Tasks */
/* start Latest Upload */
.latest-uploads ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}
.latest-uploads ul li img {
    width: 40px;
    height: 40px;
}
/* End Latest Upload */
/* Start Last Project Progress */
.last-project ul::before {
content: "";
position: absolute;
left: 11px;
width: 2px;
height: 100%;
background-color: var(--blue-color);
} 
.last-project ul li:before {
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid white;
    border-radius: 50%;
    outline: 2px solid var(--blue-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: white;
    margin-right: 20px;
    z-index: 1;
}
.last-project ul li.done:before {
    background-color: var(--blue-color);
}
.last-project ul li.current::before {
    animation: change-color 0.8s infinite alternate;
    -webkit-animation: change-color 0.8s infinite alternate;
}
.last-project .launch-icon {
    position: absolute;
    width: 160px;
    bottom: 0;
    right: 0;
    opacity: 0.3;
}
/* End Last Project Progress */
/* Start Reminders */
.reminders ul li .key {
    width: 15px;
    height: 15px;
}
.reminders ul li > .blue {
    border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
    border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
    border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
    border-left: 2px solid var(--red-color);
}
/* End Reminders */
/* Start Latest Post */
.latest-post  .avatar {
    width: 48px;
    height: 48px;
}
.latest-post .post-content {
    text-transform: capitalize;
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
}
/* End Latest Post */
/* Start Social Media Stats Widget */
.social-media .box {
    padding-left: 70px;
}
.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.social-median .box i:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.social-media .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-media .twitter > i,
.social-media .twitter > a {
    background-color: #1da1f2;
}
.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
}
.social-media .facebook > i,
.social-media .facebook > a {
    background-color: #1877f2;
}
.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}
.social-media .youtube > i,
.social-media .youtube > a {
    background-color: #ff0000;
}
.social-media .linkedin {
    background-color: rgb(10 102 194 / 20%);
    color: #0a66c2;
}
.social-media .linkedin > i,
.social-media .linkedin > a {
    background-color: #0a66c2;
}

/* End Social Media Stats Widget */
/* Start Projects Table  */
.projects .responsive-table {
    overflow-x: auto;
}
table {
    min-width: 1000px;
    border-spacing: 0;
}
.projects thead td {
    background-color: #eee;
    font-weight: bold;
}
.projects td {
    padding: 15px;
}
.projects tbody td {
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.projects table tbody tr td:last-child {
border-right: 1px solid #eee;
} 
.projects table tbody tr:hover td {
    background-color: #faf7f7;
}
.projects table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 2px;
    background-color: white;
}
.projects table img:not(:first-child) {
    margin-left: -20px;
}
.projects table .label {
    font-size: 13px;
    width: fit-content;
} 
/* End Projects Table  */
/* Start Settings */
.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width:767px) {
    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.settings-page .close-message {
    border: 1px solid #ccc;
    resize: none;
    min-height: 160px;
}
.settings-page .email {
    display: inline-flex;
    width: calc(100% - 80px);
}
.settings-page .social-boxes i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    -o-border-radius: 6px 0 0 6px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.settings-page .social-boxes input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    /*border-right: none;
    */padding-left: 10px;
    border-radius:0 6px 6px 0 ;
    -webkit-border-radius:0 6px 6px 0 ;
    -moz-border-radius:0 6px 6px 0 ;
    -ms-border-radius:0 6px 6px 0 ;
    -o-border-radius:0 6px 6px 0 ;
}
.settings-page .social-boxes > div:focus-within i {
    color: black;
}
.widgets-control .control input[type="checkbox"] {
    -webkit-apperance: none;
    appearance: none;
    /* display: none; */
}
.widgets-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.widgets-control .control label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    border: 2px solid var(--gray-color);
    margin-top: -9px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.widgets-control .control label:hover:before { 
border-color: var(--blue-alt-color);
}
.widgets-control .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    left: 0;
    top: 50%;
    position: absolute;
    margin-top: -9px;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0) rotate(1turn);
    transition: .3s;
    -webkit-transform: scale(0) rotate(1turn);
    -moz-transform: scale(0) rotate(1turn);
    -ms-transform: scale(0) rotate(1turn);
    -o-transform: scale(0) rotate(1turn);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
.backup-control input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}
.backup-control .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.backup-control .date label::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -11px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--gray-color);
}
.backup-control .date label::after {
    content: "";
    left: 5px;
    top: 5px;
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--blue-color);
    border-radius: 50%;
    transition: .3s;
    transform: scale(0);
}
.backup-control .date input[type="radio"]:checked + label::before {
    border-color: var(--blue-color);
} 
.backup-control .date input[type="radio"]:checked + label::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
} 
@media (max-width:767px) {
    .backup-control .servers {
        flex-wrap: wrap;
    }
}
.backup-control .servers  {
    border-top: 1px solid #eee;
    padding-top: 20px;
}
.backup-control .servers .server {
    position: relative;
    border: 2px solid #eee;

}
.backup-control .servers .server label {
    cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked + .server {
    border-color: var(--blue-color);
}
.toggle-checkbox {
    -webkit-apperance: none;
    appearance: none;
    display: none;
}
.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 15px;
    position: relative;
    transition: .3s;
    cursor: pointer;
}
.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    left: 50px;
    color: var(--blue-color);
font-family: var(--fa-style-family-classic);
}
.settings-page :disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #888;
}
@media (max-width:767px) {
    .toggle-switch::before  {
        width: 21px;
        height: 21px;
    }
    .toggle-switch {
        width: 78px;
        height: 29px;
    }
    }
/* End Settings */
/* Start Profile */
.profile-page .avatar-box {
    width: 300px;
}
@media (min-width:768px) {
    .profile-page .avatar-box {
        border-right: 1px solid #eee;
    }
}
@media (max-width:767px) {
    .profile-page .overview {
        flex-direction: column;
    }
    .profile-page .avatar-box {
        text-align: center;
        padding: 20px;
    }
}
.profile-page .avatar-box > img {
    width: 120px;
    height: 120px;
}
.profile-page .avatar-box .level {
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}
.profile-page .avatar-box span {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--blue-color);
    height: 100%;
    border-radius: 6px;
}
.profile-page .info-box .box {
    border-bottom: 1px solid #eee;
    flex-wrap: wrap;
    transition: .3s;
}
.profile-page .info-box .box > div {
    padding: 10px 0 0;
    
}
.profile-page .info-box .box:hover {background-color: #f6f9f9;}
@media (min-width:768px) {
    .profile-page .info-box .box > div {
        min-width: 250px;
    }
}
@media (max-width:767px) {
    .profile-page .info-box .box > div {
        min-width: 200px;
    }
}
.profile-page .info-box .box > h4 {
font-weight: normal;
}
.profile-page .info-box .toggle-switch {
    height: 20px;
}
.profile-page .info-box .toggle-switch::before {
    width: 12px;
    height: 12px;
    font-size: 8px;
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
    left: 62px;
}
@media (max-width:767px){
    .profile-page .info-box .toggle-switch {
        margin: auto;
    } 
    
}
@media (max-width:767px) { 
    .profile-page .other-data {
        flex-direction: column;
    }
}
.profile-page .skills-card {
    flex-grow: 1;
}
.profile-page .skills-card ul li {
    padding: 15px 0;
}
.profile-page .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.profile-page .skills-card ul li span {
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 14px;
}
.profile-page .skills-card ul li span:not(:last-child) {
    margin-right: 5px;
}
.profile-page .activities {
    flex-grow: 2;
}.profile-page .activities .activity:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.profile-page .activities .activity img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

@media (min-width:768px) {
    .profile-page .activities .activity .date {
        margin-left: auto;
        text-align: right;
    }
}
@media (max-width:767px) {
    .profile-page .activities .activity {
        flex-direction: column;
    }
    .profile-page .activities .activity img {
        margin-right: 0;
        margin-bottom: 25px;
    }
    .profile-page .activities .activity .date {
        margin-top: 15px;
    }
}
/* End Profile */
/* Start Projects */
.projects-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width:767px) {
    .projects-page {
        grid-template-columns:minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;

    }
}
.projects-page .project .date {
    position: absolute;
    right: 10px;
    top: 10px;
}
.projects-page .project h4 {
    font-weight: normal;
}
.projects-page .project .team {
    position: relative;
    min-height: 80px;

}
.projects-page .project a  {
    position: absolute;
    left: 0;
    bottom: 0;
}
.projects-page .project a:nth-child(2) {
    left: 25px;
}
.projects-page .project a:nth-child(3) {
    left: 50px;
}
.projects-page .project a:nth-child(4) {
    left: 75px;
}
.projects-page .project a:nth-child(5) {
    left: 100px;
}
.projects-page .project a:hover {
    z-index: 1000;
}
.projects-page .project a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.projects-page .project .techs {
    justify-content: flex-end;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
}
.projects-page .project .techs span {
    padding: 3px 8px;
    margin-left: 5px;
    width: fit-content;
}
@media (max-width:767px) {
    .projects-page .project .techs span:not(:last-child) {
        margin-bottom: 15px;
    }
    .projects-page .project .techs {
        flex-direction: column;
    }
}
.projects-page .project .info {
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px;
}
.projects-page .project .prog {
    height: 8px;
    width: 260px;
    position: relative;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
@media (max-width:767px) {
    .projects-page .project .info {
        flex-direction: column;
    }
        .projects-page .project .prog {
        margin-bottom: 15px;
        }
}
.projects-page .project .prog span {
    position: absolute;
    left: 0;
    top: 0;
    height: 8px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* End Projects */
/* Start Courses */
.courses-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width:767px) {
    .courses-page {
        grid-template-columns:minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;

    }
}
.courses-page .course {
    overflow: hidden;
}
.courses-page .course .cover {
    max-width: 100%;
}
.courses-page .course .instructor {
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 64px;
    height: 64px;
    top: 20px;
    left: 20px;
    border: 2px solid white;
}
.courses-page .course .description {
    line-height: 1.6;
}
.courses-page .course .info {
    border-top: 1px solid #eee;
    font-size: 13px;
}
.courses-page .course .info .title {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-size: 13px;
    top: -13px;
    height: 27px;
}
/* End Courses */
/* Start Friends page */
.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width:767px) {
    .friends-page {
        grid-template-columns:minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;

    }
}
.friends-page .contact  {
    position: absolute;
    left: 10px;
    top: 10px;
}
.friends-page .contact i {
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    font-size: 13px;
    cursor: pointer;
    transition: .3s;
}
.friends-page .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}
.friends-page .friend .icons {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.friends-page .friend .icons i {
    margin-right: 5px;
}
.friends-page .friend .icons .vip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    font-size: 40px;
    opacity: .3;
}
/* End Friends page */
/* Start Files Page */
.files-page {
    flex-direction: row-reverse;
    align-items: flex-start;
}
@media (max-width:767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
    }
}
.files-page .files-stats {
    min-width: 250px;
}
.files-page .files-stats .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.files-page .files-stats .size {
    margin-left: auto;
}
.files-page .files-stats .blue {
    background-color: rgb(0 117 255 / 20%);

}
.files-page .files-stats .green {
    background-color: rgb(34 197 94 / 20%);
}
.files-page .files-stats .red {
    background-color: rgb(244 67 54 / 20%);
}
.files-page .files-stats .orange {
    background-color: rgb(245 158 11 / 20%);
}
.files-page .files-stats .upload {
    margin:15px auto;
    padding: 10px 15px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.files-page .files-stats .upload:hover {
    background-color: var(--blue-alt-color);
}
.files-page .files-stats .upload:hover i {
    animation: go-up .8s infinite;
    -webkit-animation: go-up .8s infinite;
}
.files-page .files-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
}
.files-page .files-content img {
    width: 64px;
    height: 64px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.files-page .files-content .file:hover img {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
.files-page .files-content .info {
    border-top: 1px solid #eee;
}
/* End Files Page */
/* Start Plans Page */
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width:767px) {
    .plans-page {
        grid-template-columns:minmax(250px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;

    }
}
.plans-page .plan .top {
    border: 3px solid white;
    outline: 3px solid transparent;
}
.plans-page .plan.green .top {
    outline-color: var(--green-color);
}
.plans-page .plan.blue .top {
    outline-color: var(--blue-color);

}
.plans-page .plan.orange .top {
    outline-color: var(--orange-color);

}
.plans-page .plan .price {
    position: relative;
    font-size: 40px;
    /* font-weight: bold; */
    width: fit-content;
    margin: auto;
}
.plans-page .plan .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 26px;
}
.plans-page .plan ul li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}
.plans-page .plan ul li .yes {
    color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes, .help) {
    color: var(--red-color);
}
.plans-an ul li page .pli:first-child {
    font-size: 18px;
    margin-right: 5px;
}
.plans-page .plan ul li .help {
    color: var(--gray-color);
    margin-left: auto;
    cursor: pointer;
}
/* End Plans Page */
/* Start Animation */
@keyframes change-color {

    from { 
        background-color: var(--blue-color);
    }
    
    to {
        background-color: white;
    }
}
@keyframes go-up {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    50% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
}
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}
/* End Animation */
